/*
====================================================
  FOOTER
====================================================
*/

.footer {
   position: relative;
   bottom: 0;
   display: flex;
   opacity: 0.8;
   justify-content: center;
   align-items: center;
   padding:12px;
   background: var(--primary-color);
   color: white;
   font-size: 13px;
 }
 .footer img{
   width: 40px;
   height: 40px;
   border-radius: 10px;
   margin-left: 10px;
 }