.navbar {
   position: relative;
   top: 0;
   display: flex;
   background-color: var(--primary-color);
   justify-content: flex-end;  
   padding: 1rem;
   opacity: .8;
   border-bottom: 2px solid #eee;
}
.navbar h1 {
   cursor: pointer;
   text-transform: uppercase;
   background: -webkit-linear-gradient(to right, #0575e6, #021b79); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #0575e6, #021b79);
   background-clip: text;
   margin-right: 20em;
   -webkit-text-fill-color: transparent;
}
.navbar button {
   margin-right: 80px;
   color: #fff;
}
